body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e4e3b0;
  }
  
  .login-container {
    position: absolute;
    max-width: 400px;
    height: auto;
    padding: 20px;
    border: 1px solid #464444;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(159, 86, 86, 0.1);
    background-color: #fff;
    top: 40%;
    left: 30%;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .error-message {
    color: red;
    margin-top: 5px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .primary-button {
    background-color: #1976D2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .warn-button {
    background-color: #FF5252;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .primary-button:hover,
  .warn-button:hover {
    opacity: 0.8;
  }
  
  button {
    flex: 1;
    margin: 0 5px;
  }
  
  .error {
    border-color: red;
  }
  
  .error-message {
    color: red;
  }
  
  .mat-form-field-invalid .mat-form-field-flex {
    color: red;
  }